click
colorama
dash==2.8.1
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pandocfilters
plotly
python-dateutil
pytz
six
tenacity
Werkzeug
gunicorn
